@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>

<table id="authorsTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<br />
<input type="button" class="btn btn-primary" id="show" value="Show" />
<input type="button" class="btn" id="state" value="Show by state" />
<input type="button" class="btn" id="city" value="Show by city" />
<input type="button" class="btn" id="contract_letter" value="Contract and letter" />
<input type="button" class="btn" id="create" value="Create" />
<input type="button" class="btn" id="update" value="Update" />
<br />

<script>

    $('#state').click(function (e) {
        //alert('state');

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/authors/state/ca',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);

                // получить ссылку на таблицу с результатами
                var table = $('#authorsTable');

                // удалить все старые строки
                table.find("tbody tr").remove();

                // перебрать коллекцию в Json и создать новые строки таблицы на их основе
                data.forEach(function (author) {
                    table.append("<tr><td>" + author.au_id +
                        "</td><td>" + author.au_fname + ' ' + author.au_lname +
                        "</td><td>" + author.city +
                        "</td><td>" + author.state +
                        "</td><td>" + author.phone +
                        "</td><td><button class='btn-link js-edit' data-au-id=" + author.au_id + ">Edit</button>&nbsp;<button class='btn-link js-delete' data-au-id=" + author.au_id + ">Delete</button></td></tr>");
                });
            }
        })
    });

    $('#city').click(function (e) {
        //alert('state');

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/authors/city/Oakland',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);

                // получить ссылку на таблицу с результатами
                var table = $('#authorsTable');

                // удалить все старые строки
                table.find("tbody tr").remove();

                // перебрать коллекцию в Json и создать новые строки таблицы на их основе
                data.forEach(function (author) {
                    table.append("<tr><td>" + author.au_id +
                        "</td><td>" + author.au_lname + ' ' + author.au_fname +
                        "</td><td>" + author.city +
                        "</td><td>" + author.state +
                        "</td><td>" + author.phone +
                        "</td><td><button class='btn-link js-edit' data-au-id=" + author.au_id + ">Edit</button>&nbsp;<button class='btn-link js-delete' data-au-id=" + author.au_id + ">Delete</button></td></tr>");
                });
            }
        })
    });

    $('#contract_letter').click(function (e) {
        //alert('state');

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/authors/contract_letter/true/M',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);

                // получить ссылку на таблицу с результатами
                var table = $('#authorsTable');

                // удалить все старые строки
                table.find("tbody tr").remove();

                // перебрать коллекцию в Json и создать новые строки таблицы на их основе
                data.forEach(function (author) {
                    table.append("<tr><td>" + author.au_id +
                        "</td><td>" + author.au_fname + ' ' + author.au_lname +
                        "</td><td>" + author.city +
                        "</td><td>" + author.state +
                        "</td><td>" + author.phone +
                        "</td><td><button class='btn-link js-edit' data-au-id=" + author.au_id + ">Edit</button>&nbsp;<button class='btn-link js-delete' data-au-id=" + author.au_id + ">Delete</button></td></tr>");
                });
            }
        })
    });

    $('#create').click(function (e) {
        alert('create');

        $.ajax({
            url: "/api/authors/",
            method: "POST",
            data: JSON.stringify({
                au_id: "555-88-9999",
                au_fname: "Maria",
                au_lname: "Petrova",
                city: "Donetsk",
                state: "CA",
                phone: "12356",
                address: "Donestk",
                zip: "12345"
            }),
            dataType: 'JSON',
            contentType: 'application/json',
            success: function (data, textStatus, xhr) {
                console.log(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    });

    $('#update').click(function (e) {
        alert('update');

        $.ajax({
            url: '/api/authors/555-88-9999',
            method: "PUT",
            data: JSON.stringify({
                au_id: "555-88-9999",
                au_fname: "Maria",
                au_lname: "Petrova",
                city: "Moskow",
                state: "MS",
                phone: "12356"
            }),
            dataType: 'JSON',
            contentType: 'application/json',
            success: function (data, textStatus, xhr) {
                console.log(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    });

    $("#authorsTable").on("click", ".js-edit", function () {
        var button = $(this);
        //alert(button.attr("data-au-id"));
        window.location.href = '/Home/Edit/' + button.attr("data-au-id");
    });

    $("#authorsTable").on("click", ".js-delete", function () {
        var button = $(this);

        //if (confirm("Are you sure you want to delete this author?"))
        {
            $.ajax({
                url: "/api/authors/" + button.attr("data-au-id"),
                method: "DELETE",
                success: function () {

                    // получить по кнопке удаляемой строки саму удаляемую строку
                    var row = button[0].parentNode.parentNode;

                    // удалить строку из таблицы
                    row.parentNode.removeChild(row);
                }
            }).fail(function () {
                alert('fail');
            })
        }
    });

    $('#show').click(function (e) {
        //alert('show');

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/authors',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);

                // получить ссылку на таблицу с результатами
                var table = $('#authorsTable');

                // удалить все старые строки
                table.find("tbody tr").remove();

                // перебрать коллекцию в Json и создать новые строки таблицы на их основе
                data.forEach(function (author) {
                    table.append("<tr><td>" + author.au_id +
                        "</td><td>" + author.au_fname + ' ' + author.au_lname +
                        "</td><td>" + author.city +
                        "</td><td>" + author.state +
                        "</td><td>" + author.phone +
                        "</td><td><button class='btn-link js-edit' data-au-id=" + author.au_id + ">Edit</button>&nbsp;<button class='btn-link js-delete' data-au-id=" + author.au_id + ">Delete</button></td></tr>");
                });
            }
        })
    });

</script>